DB_API_URL=http://localhost:8001/db-api-path
LLM_API_URL=http://localhost:8000/llm-api-path
TRANSCRIBE_API_URL=http://localhost:8000/transcribe-api-path
IMAGE_API_URL=http://localhost:8000/image-api-path