python-dotenv
streamlit
streamlit-audiorec
fastapi
uvicorn
openai-whisper
psycopg2-binary
torch
torchvision
transformers
faiss-cpu
ffmpeg
pydantic
huggingface-hub
langchain
langchain-ollama
langchain-core
python-multipart
