GEMINI_API_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
LLM_API_URL=http://localhost:8000/llm-api-path
IMAGE_API_URL=http://localhost:8000/image-query-path
TRANSCRIBE_API_URL=http://localhost:8000/transcribe-audio-path
LLM_PORT=8000